@{
    Layout = "_Layout"; 
}

<form asp-action="Detail">
    <input type="number" name="phone" placeholder="Nhập số điện thoại" required />
    <input type="text" name="ID" placeholder="Nhập mã nhân viên" />
    <input type="Submit" value="Gửi dữ liệu" />
</form>